
body{
    background-color: black;
}

nav{
background-color: black;
text-align: right;

    
}
body{
  font-family:
}
nav li{
    display: inline;
    margin-left: 3em;
   
}
nav a{
    color:white;
    text-decoration: none;
}

div#wrapper{

    width:1200px;
    margin-left:auto;
    margin-right:auto;


}

header{
    padding:2em;
    background:linear-gradient(90deg, rgba(6,78,138,1) 0%, rgba(135,191,235,0) 79%, rgba(148,174,180,0) 100%),
    url(images/mainpicture.jpg.webp);
}

.banner-text{
    color:white;
    width:40%;
    margin-bottom: 2em;
    
}

.btn{
    background-color: azure;
    text-decoration: none;
    padding: 0.7em 1em;
    border-radius: 10px;
}