body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1200px;
    margin:16px;
}
h1{
    font-family: 1rem;
    text-transform: uppercase;
}
header{
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items: center;
  
}

/*top navigation*/


#top-nav{
 display: none;
 position:absolute;
right: 10px;
top: 50px;
z-index:100;
border:solid 1px #000;
background-color: #fff;
}

 nav ul{
   
    padding: 0;
    margin:0;
    list-style-type: none;

 }

 #top-nav a{
    display: block;
padding: 5px;
border-bottom:solid 1px #000;

 }

 #top-nav input{
    display:block;
    margin-top: 5px;
    margin: 10px 5px;

 }

.msterial-symbols-outlined{
    float: right;
}


/*program navigation*/

.dropdown{
    background-color: rgb(87, 156, 220);
}

.dropdown ul{
    background-color: silver;
}


.material-symbols-outlined{
    float: right;
    color: rgb(18, 6, 6);
    padding-top:10px;
}